h1{
    text-align: center;
}

.navbar nav ul{
    /* border: solid red; */
    display: flex;
    list-style: none;
    justify-content: end;
}

.navbar nav ul li a{
    /* border: green solid; */
    margin-right: 20px;
    text-decoration: none;
}

.menu-icon{
    /* background-color: red; */
    text-align: end;
    color: orange;
    display: none;
}
.menu-icon .menu-button{
    /* display: none; */
}

@media screen and (max-width: 768px) {
    nav ul li{
        display: none;
    }
    .menu-icon{
        display: flex;
        justify-content: end;
    }
}