*{
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 20px;
    text-align: center;
}

.navbar{
    margin-top: 20px;
}

.navbar ul{
    margin-right: 20px;
    justify-content: right;
    list-style: none;
    display: flex;
}

.navbar ul li a{
    /* font-size: 1rem; */
    margin-left: 10px ;
    text-decoration: none;
    color: orange;
}

@media screen and (max-width: 760px) {
    .navbar ul li a{
        font-size: 0.5rem;
    }
}