h1{
    text-align: center;
}

.navbar nav ul{
    /* border: solid red; */
    display: flex;
    list-style: none;
    justify-content: end;
}

.navbar nav ul li a{
    /* border: green solid; */
    margin-right: 20px;
    text-decoration: none;
}

nav ul .menu-button{
    display: none;
}

.menu-icon{
    background-color: red;
    text-align: end;
}

@media screen and (max-width: 768px) {
    nav ul li{
        display: none;
    }
    nav ul .menu-button{
        display: flex;
    }
}